.display-4 {
  color: #fdfbf7;
  text-align: center;
  border-radius: 5px;
  z-index: 10; 
  position: relative; 
}


.d-flex {
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #6a0dad; 
  border-color: #6a0dad;
  
}

.btn-primary:hover {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.btn-danger {
  background-color: #8b0000; 
  border-color: #8b0000;
}

.btn-danger:hover {
  background-color: #b22222;
  border-color: #b22222;
}


.cover {
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 10px;
  padding: 20px;
}

.observation-under-event {
  padding: 20px;
  background-color: #f8f9fa; /* Light background for contrast */
  border-radius: 8px;
}

.card-obs {
  border: 1px solid #dee2e6; /* Light border for cards */
  border-radius: 8px; /* Rounded corners */
}

.card-img-top {
  border-top-left-radius: 8px; /* Rounded corners for images */
  border-top-right-radius: 8px;
}

.card-body-obs {
  background-color: #ffffff; /* White background for card body */
}

.card-title {
  font-weight: bold;
  color: #343a40; /* Dark text color */
}

.card-text {
  color: #6c757d; /* Gray text color */
}