.description {
    padding: 50px 100px; 
    color: rgb(177, 176, 176);
    text-align: center; 
}

.h5 {
    color: rgb(228, 228, 228);
}

.category-selection {
    background-color: #0a0a0a;
    color: #e6e6f0;
    padding: 20px;
    border-radius: 10px;
}

.category-selection h2 {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0 10px;
}

.category-selection .description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.category-selection .h5 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #9999cc;
}

.quiz-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.quiz-card {
    background-color: #0a0a0a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-card h3 {
    padding: 15px;
    margin: 0;
    font-size: 1.5rem;
    color: #e6e6ff;
    border-bottom: 2px solid #444477;
}

.quiz-description {
    font-size: 1rem;
    margin: 10px 15px;
    color: #ccccff;
}

.category-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.quiz-card button {
    background: none;
    border: none;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    color: inherit;
    text-align: center;
}

.quiz-card button:hover {
    background-color:#6a0dad; 
    border: px solid #6a0dad; 
}


@media (max-width: 900px) {
    .quiz-card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .quiz-card-container {
        grid-template-columns: 1fr;
    }
}