@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

.baloo-2-logo {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.dot {
  color: purple;
  font-size: 40px;
}

.navbar {
  background-color: black;
  transition: background-color 0.3s ease; 
  position: sticky;
  top: 0;
  z-index: 1000; }

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); 
}

.navbar-brand {
  color: #f8f9fa;
}

.navbar-brand:hover {
  color: #8e44ad;
  transition: 0.3s ease;
}

.navbar-brand:focus {
  color: white;
}

div.container-fluid {
  align-items: baseline !important;
}

ul.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-link {
  color: #f8f9fa;
}

.navbar-nav .nav-link:hover {
  color: #8e44ad;
}

.navbar-toggler {
  border-color: #8e44ad;
}

.navbar-toggler:hover {
  background-color: #8e44ad;
}

.navbar-nav .nav-link.active {
  color: #e9ecef;
}
